:root {
     --white-color: #FFFFFF;
}

html {
     box-sizing: border-box;
     height: 100%;
     scroll-behavior: smooth;
}

*,
*::before,
*::after {
     box-sizing: inherit;
}

body {
     display: flex;
     flex-direction: column;
     height: 100%;
     padding: 0;
     margin: 0;
     font-family: 'Lexend Deca', 'Arial', sans-serif;
     font-size: 15px;
     background-color: hsl(0, 0%, 95%);
     color: var(--white-color);
}

img {
     max-width: 100%;
     height: auto;
}

.main {
     display: flex;
     height: 100vh;
     width: 100%;
}
.container {
     display: flex;
     margin: auto;
}
.box {
     width: 330px;
     height: auto;
     padding: 55px 65px 55px 55px;
}
.box h1 {
     font-family: 'Big Shoulders Display', cursive;
     font-weight: 700;
     font-size: 35px;
     text-transform: uppercase;
     margin-top: 30px;
     margin-bottom: 0;
}
.box p {
     color: hsla(0, 0%, 100%, 0.75);
     line-height: 1.8;
     margin-top: 30px;
     margin-bottom: 80px;
}
.box1 {
     background-color: hsl(31, 77%, 52%);
     border-radius: 8px 0px 0px 8px;
}
.box2 {
     background-color: hsl(184, 100%, 22%);
     border-radius: 0px;
}
.box3 {
     background-color: hsl(179, 100%, 13%);
     border-radius: 0px 8px 8px 0px;
}
.btn {
     background-color:hsl(0, 0%, 100%);
     padding: 15px 27px;
     border: 2px solid var(--white-color);
     border-radius: 30px;
     text-decoration: none;
}
.btn:hover {
     background-color: transparent;
     color: var(--white-color);
}
.btn1 {
     color: hsl(31, 77%, 52%);
}
.btn2 {
     color: hsl(184, 100%, 22%);
}
.btn3 {
     color: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 1000px) {
     .container {
          padding: 70px 10px;
     }
     .box {
          width: 300px;
          height: auto;
     }
}
@media only screen and (max-width: 600px) {
     .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 70px 20px;
     }
     .box {
          width: 330px;
          height: auto;
     }
     .box1 {
          border-radius: 8px 8px 0px 0px;
     }
     .box3 {
          border-radius: 0px 0px 8px 8px;
     }
}
